body
{
   background-color: #ADDDD0;

}
hr
{
background-color:none;
border-style:dotted none none none;
border-width:8px;
width:30%;
}
img{
  height:100px;
  width:100px;
}
h1
{
  width:100%;
  background-color:#D8D8D8 ;
 text-decoration: underline;
 color:#FF1E1E;
}
h3
{
  width:100%;
  background-color:#ECC5FB;
  text-decoration: underline;
 color:#256D85;
}
